/*ヘッダー*/
.logo img{
    width:out;
    max-height:50px;
}
/*メニュー*/
.menue{
    width:100%;
    background-color:black;
    color:white;
    height:60px;
}
.menue ul{
    line-height:60px;
}
.menue ul li{
    float:left;  
    list-style:none;
    padding-right:30px;
    
}

/*メインコンテンツ*/
main{
    clear:both;
}
/*変数リスト*/
:root{
    /*左右の比率*/
    --width-ratio:70%;
}
.main_container{
    width:100%;
    margin:auto;
}

/*左側*/
.left{
        width:var(--width-ratio);
        float:left;
    }
/*タイトル*/
h1{
    border-left:5px solid black;
    border-bottom:3px solid black;
    padding-left:10px;
        }
/*入力フォーム*/
form{
    background-color:ghostwhite;
    border:3px solid lightgray;
    margin-left:5px;
    padding-left:5px;
    margin-bottom:30px;
}
form h2{
    border-left:5px solid red;
    margin-left:5px;
    padding-left:10px;
}
form div{
    padding:5px;
}
.submit{
    background-color:darkgray;
    color:white;
    border-radius:5px;
    margin-bottom:10px;
}
h3{
    border-bottom:1px dotted black;
}
.kiji{
    background-color:ghostwhite;
    border:3px solid lightgray;
    margin-left:5px;
    padding-left:5px;
    margin-bottom:10px;    
}

/*右側*/
.right{
    width:100%-var(width-ratio);
    float:left;
    margin-left:10px;
    padding-top:20px;
}
/*タイトル*/
.right h2{
    border-bottom:1px dotted gray;
}
/*リスト*/
.right ul li{
    list-style:none;
}

/*フッター*/
footer{
    clear:left;
    color:white;
    background-color:black;
    height:60px;
    line-height:60px;
    text-align:center;    
}    